<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="www.studentcourse.tk.mapper.UserLabelMapper" >
  <resultMap id="BaseResultMap" type="www.studentcourse.tk.model.UserLabel" >
    <result column="ID" property="id" jdbcType="VARCHAR" />
    <result column="USER_ID" property="userId" jdbcType="VARCHAR" />
    <result column="USER_LABEL_ID" property="userLabelId" jdbcType="VARCHAR" />
    <result column="FLAG" property="flag" jdbcType="INTEGER" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="CRAET_USER" property="craetUser" jdbcType="VARCHAR" />
    <result column="OP_TIME" property="opTime" jdbcType="TIMESTAMP" />
    <result column="OP_USER" property="opUser" jdbcType="VARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="www.studentcourse.tk.model.UserLabel" >
    insert into USER_LABEL (ID, USER_ID, USER_LABEL_ID, 
      FLAG, CREATE_TIME, CRAET_USER, 
      OP_TIME, OP_USER)
    values (#{id,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{userLabelId,jdbcType=VARCHAR}, 
      #{flag,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{craetUser,jdbcType=VARCHAR}, 
      #{opTime,jdbcType=TIMESTAMP}, #{opUser,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="www.studentcourse.tk.model.UserLabel" >
    insert into USER_LABEL
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="userLabelId != null" >
        USER_LABEL_ID,
      </if>
      <if test="flag != null" >
        FLAG,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="craetUser != null" >
        CRAET_USER,
      </if>
      <if test="opTime != null" >
        OP_TIME,
      </if>
      <if test="opUser != null" >
        OP_USER,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="userLabelId != null" >
        #{userLabelId,jdbcType=VARCHAR},
      </if>
      <if test="flag != null" >
        #{flag,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="craetUser != null" >
        #{craetUser,jdbcType=VARCHAR},
      </if>
      <if test="opTime != null" >
        #{opTime,jdbcType=TIMESTAMP},
      </if>
      <if test="opUser != null" >
        #{opUser,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>